body {
    background-color: rgb(253, 204, 212); /* Cambia esto al color de fondo deseado */
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto{
    position: absolute;
    top: 10px;
    width: 200px;
    height: 100px;
}

.imagen {
    position: relative;
    margin: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.imagen img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.imagen:hover img {
    transform: scale(1.2);
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen:hover .info {
    opacity: 1;
}

.info h3 {
    margin-top: 0;
}

.info p {
    margin-bottom: 0;
}